.container {
    width: calc(100vw - 120px);
    
    margin-left: 80px;
    padding: 10px 20px;   
}

.header {
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
}

.button {
    height: 30px;
    width: 80px;

    background-color: #eb6710;
    color: #fff;

    outline: none;
    border: none;
    border-radius: 6px;

    align-self: flex-end;

    margin: 16px 0px;
    cursor: pointer;

    transition: filter 0.4s;
}

.button:hover {
    filter: brightness(1.45);
}

.header p {
    font-weight: bold;
    font-size: 18px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
